.header{
    background-color: #efefef;
    color: #2e3445;
    border-bottom: 5px solid #675e89;
}
.header>div{
    padding: 10px;
}
.header>div:first-child{
    font-size: 20px;
    font-weight: bold;
}
.task{
    border-bottom: 1px solid #675e89;
}
.task>div{
    padding: 5px;
}
.task>div:first-child{
    width: 70px;
}
.task>div:nth-child(2){
    text-align: left;
}
.task-open{
    background-color: #ffffff;
    color: #000000;
}
.task-close{
    background-color: #2e3445;
    color: #ffffff;
}
.button{
    cursor: pointer;
}
.priority{
    width: 50px;
}