/*GLOBAL*/
*{
    font-family: "Verdana", "Arial", "Consolas", "sans-serif", "sans", "Ubuntu Condensed", "Ubuntu";
    /*"Verdana", "Arial", "Consolas",*/;
    font-size: 95%
}
.button{
    cursor: pointer;
}


/*PAGE ELEMENTS*/
#page{

}
#header{
    background-color: #4c4c4c;
    color: #e4e4e4;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
}
#wrapper{
    padding: 0px;
}
#sidebar{
    width: 190px;
    min-width: 190px;
    vertical-align: top;
    padding: 5px;
}
#sidebar2{
      vertical-align: top;
      padding: 5px;
  }
#currentdata textarea{
    width: 100%;
    min-height: 100px;
}

#resizer, #resizer2{
    background-color: #4c4c4c;
    width: 3px;
    cursor: col-resize;
}
#content{
    vertical-align: top;
    padding: 0px;
}
#tools{
    padding: 5px;
    border-bottom: 1px solid  #4c4c4c;
}
#canvas{}

#history{}
#history ul>li{
    padding: 2px;
    border-bottom: 1px solid #e0e0e0;
}
#history ul>li:hover{
    cursor: pointer;
    background-color: #f9f9f9;
}

/*sidebar*/

input[name="setting-height"],
input[name="setting-width"] {
    width: 80px;
}

.sidebar-box{
    margin-bottom: 10px;
}
.sidebar-box>.table>span:first-child{
    width: 20px;
 }
.sidebar-label{

}