
html, body {font-family: "sans-serif","sans","Ubuntu Condensed","Ubuntu"; font-size: 100%}
.button,
button,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[list="browsers"],
input[type="reset"],
input[type="submit"]{
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
}
button, select, .button,
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    background-color: #ececec;
    color: #3a3a3a;
}
button:hover, .button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #e3e3e3;
}
select{background-color: inherit;}
input[type="radio"],
input[type="checkbox"]{}
input[type="search"]{}
input[type="color"]{padding: 0;}
input[type="reset"]{}
input[type="file"]{}

h1{padding: .8rem 0 .5rem}
h2{padding: .7rem 0 .4rem}
h3{padding: .6rem 0 .3rem}
h4{padding: .5rem 0 .2rem}
h5{padding: .4rem 0 .1rem}
h6{padding: .3rem 0 .1rem}
p{padding: .2rem 0 .1rem}

